<%- include("./partials/header.ejs") -%>

<div class="container-fluid" id="header">
    <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="public\images\logo.png" class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></img>
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/home" class="nav-link px-2 link-dark">HOME</a></li>
        </ul>
  
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
  
        <div class="dropdown text-end">
          <form class="d-flex">
            <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser1" aria-expanded="false"  style="padding-right: 10px;">
              <img src="public\images\profile1.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <form action="/out" method="post">
              <button class="btn btn-labeled btn-danger" type="submit">
                <span class="btn-label"><i class="fa-solid fa-right-from-bracket"></i></span>Log off</button>
            </form>
          </form>
          
        </div>
      </div>
    </div>
  </header>
  </div>  

<section class="products" style="margin-top: 500px;">
    <div class="container-fluid">
      <div id="tittle">
        <h1>USUARIOS REGISTRADOS</h1>
        <hr class="hrBestSellers">
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <% posts.forEach(function(post){ %>
        <% var number = Math.floor(Math.random() * 7) + 1; %>
        <div class="col">
          <div class="card h-100">
            <img src="public\images\profile<%= number %>.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= post.userName %> </h5>
              <p class="card-text"><%= post.userEmail %></p>
            </div>
          </div>
        </div>
        <%}); %>
      </div>
    </div>
  
  </section>

<%- include("./partials/footer.ejs") -%>